<head>
  <title>example</title>
</head>

<body>

</body>

<template name="layout1">
    {{> Template.dynamic template=top}}
    {{> Template.dynamic template=main}}
</template>

<template name="nav">
    <h1>Welcome to Meteor!</h1>
</template>

<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>

<template name="postPreview">
    <img src="{{img}}" alt="{{imgAlt}}">
    <hr>
    <h2>{{title}}</h2>
    <br>
    {{postPreview}}
</template>